.desktop-page {
  background-color: #ceeddb;
}

.desktop-ad {
  height: 100vh;
}

.desktop-text {
  color: #242250;
  font-size: 34px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
